Repository levi5/Next-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format --write, eslint --fix

chore: update Nextjs to version 13
  .gitignore
  global.d.ts
  next.config.js
  package.json
  src/app/(pages)/(home)/layout.tsx
  src/app/(pages)/(home)/page.tsx
  src/app/layout.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/presentation/global/styles/ts/fonts.ts
  tsconfig.json
Due: eslint --fix

chore: add dinamic envs
  settings/environment/.env.homolog
  settings/environment/.env.production
  settings/setEnvironment.js
  settings/vitest/integration.vitest.config.ts
  src/app/(pages)/(home)/layout.tsx
  src/app/(pages)/(home)/page.tsx
  src/app/layout.tsx
  src/helpers/prototypes/date.ts
  yarn.lock
Due: eslint --fix

chore: udpate node
  .github/workflows/ci.yml
Due: none

chore: create tests files
  .github/workflows/ci.yml
  settings/vitest/coverage.vitest.config.ts
  settings/vitest/unit.vitest.config.ts
  settings/vitest/vitest.config.ts
  tests/exemple.spec.ts
  tests/exemple.test.ts
Due: eslint --fix

Delete yarn.lock
  yarn.lock
Due: none

Update next.config.js
  next.config.js
Due: eslint --fix

Update ci.yml
  .github/workflows/ci.yml
Due: none

fix: upgrade next js
  next-env.d.ts
  next.config.js
  package.json
  src/functional/monads/either/index.ts
  src/functional/monads/maybe/index.ts
  src/functional/monads/maybe/just.ts
  src/functional/monads/maybe/maybe.ts
  src/functional/monads/maybe/nothing.ts
  src/functional/pipe/identity.ts
  src/functional/pipe/index.ts
  src/functional/pipe/pipe.ts
  src/functional/types/index.ts
  src/functional/types/maybe.ts
  src/functional/types/pipe.ts
  tsconfig.json
Due: eslint --fix

fix: upgrade next js
  next-env.d.ts
  next.config.js
  package.json
  src/functional/monads/either/index.ts
  src/functional/monads/maybe/index.ts
  src/functional/monads/maybe/just.ts
  src/functional/monads/maybe/maybe.ts
  src/functional/monads/maybe/nothing.ts
  src/functional/pipe/identity.ts
  src/functional/pipe/index.ts
  src/functional/pipe/pipe.ts
  src/functional/types/index.ts
  src/functional/types/maybe.ts
  src/functional/types/pipe.ts
  src/helpers/prototypes/date.ts
  src/helpers/url/normalize.helper.ts
  tsconfig.json
Due: eslint --fix

Update main.scss
  src/presentation/global/styles/sass/main.scss
Due: npm run format --write

Update global.scss
  src/presentation/global/styles/sass/global.scss
Due: npm run format --write

chore: update deps
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  settings/environment/.env.homolog
  settings/environment/.env.production
  tsconfig.json
Due: eslint --fix

Path conditions:
  npm run format --write: any of: **/*.{css,scss,html}
  eslint --fix: any of: **/*.{js,jsx,ts,tsx}
